body {
  padding: 0;
  margin: 0;
  color: black;
  font-size: 15px;
  font-family: "Vollkorn", serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.55em;
}

* {
  box-sizing: border-box;
}

p {
  letter-spacing: 0.03em;
  line-height: 1.55em;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  padding: 0;
  margin: 0;
  line-height: 1.4em;
}

.container {
  width: 1110px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.header {
  padding-top: 72px;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 72px;
}

.logo {
  width: 38px;
  height: 38px;
}

.mail {
  font-size: 16px;
}

a {
  color: black;
  text-decoration: none;
}

.offer {
  margin-bottom: 98px;
}

.place {
  font-size: 18px;
  margin-bottom: 21px;
}

.offer-title {
  font-size: 45px;
  line-height: 1.4em;
}

.desc {
  font-size: 18px;
  margin-bottom: 21px;
  margin-top: 21px;
}

.btn {
  color: white;
  background: rgb(54, 97, 255);
  font-size: 18px;
  padding: 18px 30px;
  display: block;
  width: 195px;
  text-align: center;
}

.btn:hover {
  background: rgb(38, 69, 179);
}

.btn:active {
  background: rgb(20, 38, 104);
}

.intro {
  background: rgb(226, 226, 226);
  padding: 30px;
  width: 441px;
}

.intro-title {
  font-weight: 700;
  margin-bottom: 17px;
}

.bali-img {
  height: 550px;
  width: 400px;
}
